body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Ariel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9dcd6;
  color: #fff;
}

.Main-Container {
  max-width: 720px;
  margin: 0 auto;
  background-color: #3a7ca5;
  border-radius: 10px;
}

/*NAVBAR */
.Navbar-Wrapper {
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  background-color: #81c3d7;
  color: #16425b;
  border-radius: 5px;
}

/* INIT BOX */
.Init-Box {
  text-align: center;
  width: 720px;
  margin: 20px auto;
  height: 700px;
}

.Init-Box form {
  display: grid;
  font-size: 40px;
  padding: 30px;
  margin: 10px;
}
.Init-Box select{
  margin: auto;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 109, 185);
  text-align: center;
  font-size: 15px;
  font-weight: 550 ;
  color: #fff;
}


.Init-Box button {
  padding: 30px;
  width: 400px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  margin: 20px;
  background-color: #97dffc;
}

/*END SCREEN*/

.End-Screen {
  text-align: center;
  width: 720px;
  margin: 20px auto;
  height: 700px;
  
}

.End-Screen p{
  font-size: 30px;
  font-weight: 500;
}

.Play-Again{
  display: inline-block;
  padding: 20px;
  text-align: center;
}
.Play-Again button {
  width: 100%;
  padding: 20px;
  margin: 10px;  
  font-size: 20px;
  border: 1px solid black;
  border-radius:20px ;
  background-color: #97dffc;
}

/*QUESTIONS */
.Question {
  text-align: center;
  width: 720px;
  margin: 20px auto;
  height: 700px;
}


.Question p {
  margin: 50px;
  max-width: 600px;
  height: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.932);
}

.p2 {
  height: 10px !important;
  font-size: 2rem !important;
  color: black !important;
}

.Question button {
  margin: 20px;
  width: 400px;
  padding: 30px;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid ;
  border-radius: 20px;
  background-color: #d7e0e6;
}


button {
  cursor: pointer;
  transition: all 0.4s;
}

/* Standard buttons */
.standart-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}

.standart-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.standart-button:hover span {
  padding-right: 25px;
}
.standart-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Question Answer buttons*/
.question-button:hover {
  background-color: #0582ca;
  color: #fff;
}

.question-button:active {
  box-shadow: 0 5px rgb(22, 22, 22);
  transform: translateY(4px);
}
.question-buttonwrong{
  background-color: red !important;
}

.toastify {
  margin-top: 220px;
}

.footer-container{
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; 
  border-radius: 5px;
}
.footer-container p {
  margin-right: 10px;
}

.Git-Link {
  font-size: 20px;
}

.Git-Link a{
  text-decoration: none;
  color: white;
}
.Git-Link img {
  margin-left: 10px;
  margin-top: 5px;
}