body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Ariel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #555555;
  color: #fff;
}

.Main-Container {
  max-width: 1080px;
  margin: 0 auto;
  background-color: rgb(199, 169, 169);
}

.Navbar-Wrapper {
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  background-color: antiquewhite;
  color: #555555;
  
}

/* INIT BOX */
.Init-Box {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  height: 700px;
}

.Init-Box form {
  display: grid;
  font-size: 40px;
  padding: 30px;
  margin: 10px;
}
.Init-Box select{
  margin: auto;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(27, 109, 185);
  text-align: center;
  font-size: 15px;
  font-weight: 550 ;
  color: #fff;
}


.Init-Box button {
  padding: 30px;
  width: 400px;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  margin: 20px;
  background-color: rgb(88, 214, 57);
}


/*QUESTIONS */
.Question {
  
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  height: 700px;
}


.Question p {
  margin: 50px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.Question button {
  margin: 20px;
  width: 800px;
  padding: 30px;
  font-weight: 600;
  font-size: 20px;
  border: 1px solid ;
  border-radius: 5px;
}
